{
  "presets": ["es2015", "flow", "react"],
  "plugins": [
    ["transform-flow-strip-types"],
    ["transform-class-properties"],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "components": "./src/components",
        "pages": "./src/pages",
        "services": "./src/services",
        "constants": "./src/constants",
        "utils": "./src/utils",
        "__tests__": "./__tests__",
        "__mocks__": "./__mocks__",
        "test": "./src/test"
      },
      "cwd": "babelrc"
    }]
  ],
  "ignore": []
}