body {
  color: #222;
  background: #f4f4f4;
  font: 400 14px CoreSans, Arial,sans-serif;
}

a {
  color: #222;
}

a:hover {
  text-decoration: underline;
}

ul, li {
  list-style: none; padding: 0; margin: 0;
}

input {
  padding: 10px; border-radius: 5px; outline: none; margin-right: 10px; border: 1px solid #dddddd;
}

button {
  padding: 10px; border-radius: 5px;
  border: 1px solid #dddddd; background: transparent; color: #808080;
  cursor: pointer;
}

button:hover {
  color: #222;
}

*:focus {
  outline: none;
}

.br-50 {
  border-radius: 50%;
}

/* LAYOUT CSS */

.splash-layout {
  background-size: cover;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CARDS CSS */

.profile-img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}

.profile-title {
  font-weight: bold;
  font-size: medium;
  color: black;
}

.profile-description {
  font-size: small;
  color:black;
}

.skill-img {
  padding-top: 1.25rem;
  height: 15em;
  width: 15em;
  object-fit: scale-down;
}

.project-img {
  height: 15em;
  width: 20em;
  object-fit: scale-down;
}
/* BACKGROUND COLOR CSS */

.bg-brand-primary { 
  background: linear-gradient(to right, #43cea2, #185a9d);
}

.bg-brand-secondary {
  background-color: #ebf3f5;
}

/* OVERWRITES */

.slick-dots {
  /* background-color: #ebf3f5; */
}
